@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-8">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/_lNoRfXY0dg?rel=0&amp;controls=0&amp;showinfo=0" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-lg-4">
        <h1>WDVA Candidate Project | Todd Ryan</h1>
        <h3 style="color:#000000;">Project Details</h3>
        <p>This microsite is a project for the Wisconsin Department of Veterans Affairs. The task was to create a demo web application using C# ASP.NET MVC framework with a code first approach. It should collect various demographic information. We were also tasked with creating a demo web application using Bootstrap for the mobile friendly user responsive design.</p>
        <p>Additionally, we were to create detailed documentation for evaluation on how to run the project as well as additional information that would help the evaluator grade the project. When finished, the project should be uploaded to GitHub.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <div style="text-align:center; vertical-align:middle;">
            <h3>WISCONSIN POPULATION</h3>
            <p>As of 2014, there were an estimated <br /><span style="font-size:260%; font-weight:bold;"> 5,757,564</span> <br /> Wisconsinites living in our great state.</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/summerFest.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">GROWTH RATE</h3>
            <p>The state of Wisconsin has seen a change in population from April 1, 2010 to July 1, 2014. That's a rate of 1.2%</p>
            <p> The US has seen an increase of 3.3% during the same time frame.</p>
            <p><br /><a class="btn btn-default" href="http://quickfacts.census.gov/qfd/states/55000.html" target="_blank">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/wisCapBuilding.jpg" class="img-responsive" />
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/wisANG.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">WISCONSIN VETERANS</h3>
            <p>According to the United States Department of Veterans Affairs, as of 2014, the state of Wisconsin is home to 413,723 proud veterans.</p>
            <p>For more information on reports, surveys, or statistics regarding the Veteran population, or for general inquiries, please visit us at <a href="http://www.va.gov/vetdata/Veteran_Population.asp" target="_blank">va.gov</a></p>
        </div>        
    </div>
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/wisDemographic.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">WOMEN OWNED BUSINESS FACTS</h3>
            <p>Based on the data received, 25.3% of Wisconsin Businesses are owned by women.</p>
            <p><br /><a class="btn btn-default" href="https://www.wwbic.com/" target="_blank">Wisconsin Women in Business<br />Read more &raquo;</a></p>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">QUICK STATS</h3>
            <p>The Milwaukee Mitchell Park Horticultural Conservancy, "Domes," are a treasure uniquely Milwaukee, Wisconsin.</p>
            <p>About 200,000 people including 20,000 students visit the Mitchell Park Domes annually; including patrons from 100 different countries.</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/mitchellParkDomes.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">CAMP RANDALL</h3>
            <p>When full, capacity of 80,321, Camp Randall would be the fifth largest "city" in the state of Wisconsin (after Milwaukee, Madison itself, Green Bay, and Kenosha).</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/wisFootball.jpg" class="img-responsive" />
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-3">
        <div class="mg-image">
            <img src="~/Content/images/wisRiversLakes.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">WISCONSIN RECREATION</h3>
            <p>Wisconsin is ranked fifth for boaters in the US</p>
            <p>As of 2010, there were 615,335 registered boats in Wisconsin - retaining its fifth place rank, despite decreasing 1.8 percent compared to 2009’s 626,304.</p>
        </div>
    </div>
    <div class="col-md-3">
            <div class="mg-image">
                <img src="~/Content/images/wisFarming.jpg" class="img-responsive" />
            </div>
    </div>
    <div class="col-md-3">
        <div class="cntr">
            <h3 style="text-align:center; vertical-align:middle;">AMERICA'S<br />DAIRY LAND</h3>
            <p>Since 1992 to 2012, the amount of Dairy Farms in the US has dropped by 80,028. But from 2004 to 2014, US milk production rose by 20.6% making 2014 a record breaking year.</p>
            <p><br /><a class="btn btn-default" href="http://media.eatwisconsincheese.com/dairyimpact/statistics/dairyStatistics.aspx" target="_blank">Learn more &raquo;</a></p>
        </div>
    </div>
</div>